---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import TranslationForm from "../components/TranslationForm.astro";
---

<Layout title="AI Translations">
  <Header />
  <main class="mx-auto max-w-2xl p-4">
    <TranslationForm />
  </main>
</Layout>
